.all {
  width: 100%;
  background-color: rgb(147, 206, 255);
  height: 350px;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}

.sub_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  text-transform: uppercase;
  padding: 25px;
  margin-top: 50px;
}

.links {
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 50px;
  height: auto;
  margin-top: 50px;
}

.logo:hover {
  transform: scale(1.1);
}

.bottom {
  font-size: 18px;
  margin-top: 80px;
}

@media (max-width: 1140px) and (min-width: 1024px) {
  .all {
    height: auto;
  }

  .headline {
    text-transform: uppercase;
    padding: 20px;
    margin-top: 40px;
  }

  .links {
    width: 650px;
  }

  .logo {
    width: 45px;
    height: auto;
    margin-top: 40px;
  }

  .bottom {
    font-size: 16px;
    margin-top: 60px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .all {
    height: auto;
  }

  .links {
    width: 600px;
  }

  .logo {
    width: 40px;
    height: auto;
    margin-top: 40px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .all {
    height: auto;
    width: 100%;
  }
  .links {
    width: 400px;
  }

  .logo {
    width: 40px;
    height: auto;
    margin-top: 40px;
  }

  .bottom {
    font-size: 13px;
    margin-top: 50px;
  }
}

@media (max-width: 425px) and (min-width: 375px) {
  .all {
    height: auto;
    width: 100%;
  }

  .headline {
    font-size: 11px;
  }

  .links {
    width: 300px;
  }

  .logo {
    width: 35px;
    height: auto;
    margin-top: 40px;
  }

  .bottom {
    font-size: 11px;
    margin-top: 50px;
  }
}

@media (max-width: 375px) and (min-width: 320px) {
  .all {
    height: auto;

    width: 100%;
  }

  .headline {
    font-size: 11px;
  }

  .links {
    width: 300px;
  }

  .logo {
    width: 35px;
    height: auto;
    margin-top: 40px;
  }

  .bottom {
    font-size: 11px;
    margin-top: 50px;
  }
}
