.all {
  width: 70%;
  margin-left: 15%;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(147, 206, 255);
  border-right: 2px solid rgb(147, 206, 255);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.left_side {
  width: 50%;
  margin-top: 100px;
  margin-right: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.headline {
  width: 100%;
}

.title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 30px;
  text-align: justify;
  text-indent: 20px;
  line-height: 22px;
}

.bold {
  font-weight: 700;
}

.right_side {
  display: flex;
  margin-top: 100px;
}

.picture {
  width: 350px;
  height: 350px;
  border: 2px solid blue;
  border-radius: 50%;
  margin-bottom: 50px;
  box-shadow: 20px 30px 14px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1440px) {
  .picture {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .left_side {
    margin-top: 50px;
  }

  .headline {
    width: 100%;
    text-align: center;
  }

  .right_side {
    display: flex;
    margin-top: 180px;
    margin-right: 50px;
  }

  .picture {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 768px) {
  .all {
    display: flex;
    flex-direction: column;
  }

  .headline {
    width: 80%;
    margin-left: 10%;
  }

  .left_side {
    width: 90%;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 5%;
  }

  .right_side {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10%;
  }
}

@media (max-width: 425px) {
  .all {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .headline {
    width: 80%;
    margin-left: 10%;
  }

  .left_side {
    width: 90%;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 5%;
  }

  .right_side {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10%;
  }

  .picture {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 375px) {
  .all {
    width: 110%;
    display: flex;
    flex-direction: column;
  }

  .picture {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 320px) {
  .all {
    width: 130%;
    display: flex;
    flex-direction: column;
  }

  .picture {
    width: 180px;
    height: 180px;
  }
}
